ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(167, 129, 135);
    display: flex;
}

li {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    flex: 1 1 0;
}

li a {
    display: block;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(204, 160, 167);
}

.active {
    background-color:rgb(167, 148, 151);
}